@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14%;
    --primary: 231 34% 31%;
    --primary-foreground: 0 0% 98%;
    --secondary: 216 33% 97%;
    --secondary-foreground: 231 34% 31%;
    --muted: 218 38% 60%;
    --muted-foreground: 218 38% 67%;
    --muted-secondary: 224 16% 63%;
    --muted-tertiary: 216 38% 95%;
    --accent: 231 34% 31%;
    --accent-foreground: 0 0% 100%;
    --accent-secondary: 0 0% 69%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 44 100% 93%;
    --success: 162 63% 54%;
    --success-foreground: 175 82% 47%;
    --warning: 29 100% 49%;
    --warning-foreground: 39 100% 61%;
    --border: 205 42% 91%;
    --border-secondary: 204 43% 93%;
    --border-tertiary: 220 16% 96%;
    --input: 205 42% 91%;
    --ring: 0 0% 14%;
    --chart-1: 10 0% 14%;
    --chart-2: 225 100% 61%;
    --chart-3: 231 34% 31%;
    --chart-4: 29 100% 49%;
    --chart-5: 27 87% 67%;
    --chart-6: 241 90% 52%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 14%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
